.bottom-bar-home {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background: transparent;
    display: flex;
}

.player-head {
    margin: auto 30px;
    background-image: url("../../images/default/setve.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 15px;
}

.profile-btn{
    color: var(--color);
    transition: 0.25s;
    position: absolute;
    outline: none;
    background-image: url(./images/buttons/btnprofile.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-color: transparent;
    width: 103px;
    height: 93px;
    border: none;
    font-size: 16px;
    display: block;
    cursor: pointer;
    top: -130%;
    left: 27.16%;
}

.profile-btn:hover{
    transform: translate(0, -5%);
    transition: all .5s ease-in-out 0s;
}
.profile-btn::after{
    transform: translateY(-3px);
    transition: all .5s ease-in-out 0s;
}



.setings-btn{
    color: var(--color);
    transition: 0.25s;
    position: absolute;
    outline: none;
    background-image: url(./images/buttons/btnconfig.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-color: transparent;
    width: 103px;
    height: 93px;
    border: none;
    font-size: 16px;
    display: block;
    cursor: pointer;
    top: -130%;
    left: 68.80%;
}

.setings-btn:hover{
    transform: translate(0, -5%);
    transition: all .5s ease-in-out 0s;
}
.setings-btn::after{
    transform: translateY(-3px);
    transition: all .5s ease-in-out 0s;
}


.play-element {
    position: absolute;
    transform: translate(-50%);
    height: 70px;
    color: #F1F1F1;
    font: normal normal bold 4px/29px Poppins;
    text-align: center;
    left: 35.50%;
    top: -6%;
}

.play-btn {
    color: var(--color);
    transition: 0.25s;
    position: absolute;
    outline: none;
    background-image: url(./images/buttons/btnjugar.png);
    background-repeat: no-repeat;
    background-size: 400px;
    background-color: transparent;
    width: 400px;
    height: 90.90px;
    border: none;
    font-size: 16px;
    display: block;
    cursor: pointer;
    top: -129%;
  }

.play-btn:hover{
    transform: translate(0, -5%);
    transition: all .5s ease-in-out 0s;
}
.play-btn::after{
    transform: translateY(-3px);
    transition: all .5s ease-in-out 0s;
}

.download-content {
    position: center;
    top: -64%;
    left: 1000%;
    transform: translate(-50%, -50%);
}

.text-download,
.progress-bar {
    visibility: hidden;
    display: none;
}

.text-download {
    visibility: visible;
    font-size: 20px;
    left: 1000%;
}

.body-home {
    display: flex;
    height: 78vh;
    margin: 3rem 2rem;
    filter: blur(4px);
}

h4{
    position: absolute;
    top: -5px;
    width: 110px;
    left: 560px;
    font-family: verdana;
    text-align: center;
    font-size: 11px;
    color: rgb(255, 255, 255);
}


.box-container {
    position: absolute;
    margin: 100px auto;
    width: 80%;
    height: 500px;
    display: flex;
    align-items: stretch;
    box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.03);
    color: white;
    background-color: azure;
  }
