.show {
    opacity: 1;
  }  

.bottom-bar-home {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background: transparent;
    display: flex;
}

.profile-btn{
    color: var(--color);
    transition: 0.25s;
    position: absolute;
    outline: none;
    background-image: url(./images/buttons/btnprofile.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-color: transparent;
    width: 103px;
    height: 93px;
    border: none;
    font-size: 16px;
    display: block;
    cursor: pointer;
    top: -131%;
    left: 25.70%;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

.profile-btn:hover{
    transform: translate(0, -5%);
    transition: all .5s ease-in-out 0s;
}
.profile-btn::after{
    transform: translateY(-3px);
    transition: all .5s ease-in-out 0s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }



.cardprofile{
    color: var(--color);
    position: absolute;
    outline: none;
    background-repeat: no-repeat;
    background-color: #1e1f29;
    width: 150px;
    height: 160px;
    border: none;
    font-size: 16px;
    display: block;
    top: -400%;
    left: 24.50%;
    border-radius: 20px;
    z-index: -2;
    opacity: 0;
    -webkit-transition: opacity 0.20s ease-in-out;
    -moz-transition: opacity 0.20s ease-in-out;
    -ms-transition: opacity 0.20s ease-in-out;
    -o-transition: opacity 0.20s ease-in-out;
    transition: opacity 0.20 ease-in-out;
}

.cardprofile.fade {
    opacity:1;
  }


.acount-delete {
    border-radius: 10px;
    text-align: center;
    margin-top: -270px;
    margin-left: -434px;
    text-align: center ;
    color: var(--color);
    transition: 0.50s;
    width: 125px;
    height: 30px;
    background: #942723;
    border: 4px solid #942723;
    font: normal normal bold 14px Poppins;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 5px #942723;
    outline: none;
    display: none;
    opacity: 0;
    -webkit-transition: opacity 0.30s ease-in-out;
    -moz-transition: opacity 0.30s ease-in-out;
    -ms-transition: opacity 0.30s ease-in-out;
    -o-transition: opacity 0.30s ease-in-out;
    transition:  0.40s ease-in-out;
}

.acount-delete:hover,
.acount-delete:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  color: #942723;
  background-color: white;
  border-radius: 0px;
}

.cardprofile-dragbar{
    color: var(--color);
    position: absolute;
    outline: none;
    background-repeat: no-repeat;
    background-color: #14151e;
    width: 150px;
    height: 50px;
    border: none;
    font-size: 16px;
    display: block;
    top: -400%;
    left: 24.50%;
    z-index: -2;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25 ease-in-out;
}

.cardprofile-dragbar.fade {
    opacity:1;
  }


.cardprofile-profilepho {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    --border-width: 3px;
    margin: -200px 345px;
    background-image: url("../../images/default/setve.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 10px;
    opacity: 0;
    border-radius: var(--border-width);
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
}

.cardprofile-profilepho::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
        -webkit-transition: opacity 0.30s ease-in-out;
    -moz-transition: opacity 0.30s ease-in-out;
    -ms-transition: opacity 0.30s ease-in-out;
    -o-transition: opacity 0.30s ease-in-out;
    transition: opacity 0.30 ease-in-out;
  }
  
  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }

.cardprofile-profilepho.fade {
    opacity:1;
  }

.cardprofile-x{
    color: var(--color);
    position: absolute;
    outline: none;
    background-repeat: no-repeat;
    background-color: #14151e;
    width: 30px;
    height: 30px;
    border: none;
    font-size: 16px;
    display: block;
    top: -420%;
    left: 35.50%;
    border-radius: 20px;
    -webkit-transition: opacity 0.20s ease-in-out;
    -moz-transition: opacity 0.20s ease-in-out;
    -ms-transition: opacity 0.20s ease-in-out;
    -o-transition: opacity 0.20s ease-in-out;
    transition:  0.40s ease-in-out;
    cursor: pointer;
    background-image: url(./images/buttons/close.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    display: none;
    opacity: 0;
}

.cardprofile-x:hover,
.cardprofile-x:focus {
  background-color: rgb(141, 17, 17);
}


.cardprofile-x.fade {
    opacity:1;
  }



.setings-btn{
    color: var(--color);
    transition: 0.25s;
    position: absolute;
    outline: none;
    background-image: url(./images/buttons/btnconfig.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-color: transparent;
    width: 103px;
    height: 93px;
    border: none;
    font-size: 16px;
    display: block;
    cursor: pointer;
    top: -131%;
    left: 67.20%;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

.setings-btn:hover{
    transform: translate(0, -5%);
    transition: all .5s ease-in-out 0s;
}
.setings-btn::after{
    transform: translateY(-3px);
    transition: all .5s ease-in-out 0s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


.play-element {
    position: absolute;
    transform: translate(-50%);
    height: 70px;
    color: #F1F1F1;
    font: normal normal bold 4px/29px Poppins;
    text-align: center;
    left: 33.90%;
    top: -6%;
}

.play-btn {
    color: var(--color);
    transition: 0.25s;
    position: absolute;
    outline: none;
    background-image: url(./images/buttons/btnjugar.png);
    background-repeat: no-repeat;
    background-size: 400px;
    background-color: transparent;
    width: 400px;
    height: 90.90px;
    border: none;
    font-size: 16px;
    display: block;
    cursor: pointer;
    top: -130%;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
  }

.play-btn:hover{
    transform: translate(0, -5%);
    transition: all .5s ease-in-out 0s;
}
.play-btn::after{
    transform: translateY(-3px);
    transition: all .5s ease-in-out 0s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }



.download-content {
    position: center;
    top: -64%;
    left: 1000%;
    transform: translate(-50%, -50%);
}

.text-download,
.progress-bar {
    visibility: hidden;
    display: none;
}

.text-download {
    visibility: visible;
    font-size: 20px;
    left: 1000%;
}

.body-home {
    display: flex;
    height: 78vh;
    margin: 3rem 2rem;
    filter: blur(4px);
}

h4{
    position: absolute;
    top: -8.50px;
    width: 110px;
    left: 548px;
    font-family: verdana;
    text-align: center;
    font-size: 11px;
    color: rgb(255, 255, 255);
}


.box-container {
    position: absolute;
    margin: 100px auto;
    width: 80%;
    height: 500px;
    display: flex;
    align-items: stretch;
    box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.03);
    color: white;
    background-color: azure;
  }

